<!doctype html>
    <meta charset=utf-8>
    <title>ETS WLAN V003</title>
    <link href=fnt/robotoV20LaExLaReg.woff2 as=font crossorigin=anonymous type=font/woff>
    <link href=combined.css rel=stylesheet>
    <script async src=Script.js></script>
    <div id=Index_Page>  
        <div class=window><img style=height:250px alt="Logo not available" src=etLogo.webp width=100% >
       
        </div>
        <div class=window style="margin-top: -150px; margin-left: 50px;">
            <div class="columns is-tablet" id=content>
                <div class="column is-4 column-center" style=margin-left:100px;padding-top:290px>
                    <div class="card card-button" style=background-color:#f3fafe onclick='switch_page("Control")'>
                        <div class=card-content>
                            <div class="text-center title">Control</div>
                        </div>
                    </div>
                </div>
                <div class="column is-4 column-center" style=margin-left:300px;padding-top:290px>
                    <div class="card card-button" style=background-color:#f3fafe onclick='switch_page("Display")'>
                        <div class=card-content>
                            <div class="text-center title">Display</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-tablet" id=content>
                <div class="column is-4 column-center" style=margin-left:100px;padding-top:100px>
                    <div class="card card-button" style=background-color:#f3fafe onclick='switch_page("Config")'>
                        <div class=card-content>
                            <div class="text-center title">Configuration</div>
                        </div>
                    </div>
                </div>
                <div class="column is-4 column-center" style=margin-left:300px;padding-top:100px>
                    <div class="card card-button" style=background-color:#f3fafe onclick='switch_page("Protection")'>
                        <div class=card-content>
                            <div class="text-center title">Protection</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div id=Control_Page>
         <div class=window><img style=height:250px alt="Logo not available" src=etLogo.webp width=100% >
          
           <div class="column header-buttons is-full is-hidden-touch">
                <div class=buttons><a class="button is-info is-inverted" onclick='switch_page("Index")'>Index</a>
                    <a class="button is-info is-active" onclick='switch_page("Control")'>Control</a>
                        <a class="button is-info is-inverted" onclick='switch_page("Display")'>Display</a>
                         <a class="button is-info is-inverted" onclick='switch_page("Config")'>Configuration</a>
                        <a class="button is-info is-inverted" onclick='switch_page("Protection")'>Protection</a>
     </div>
            </div>
            <div class="is-danger notification" id=errorMessage>Error message</div>
            <div class="columns is-multiline is-same-height is-tablet">
                <div class="column is-12">
                    <div class=card data-panel=control>
                        <header class=card-header>
                            <p class=card-header-title>Control
                        </header>
                        <div class=card-content>
                            <div class="columns is-mobile is-multiline">
                                <div class="column is-3-tablet is-6-mobile">Mode :</div>
                                <div class="column is-3-tablet is-6-mobile">
                                    <div class=select><select class=modeInput onchange=mode_input(this.value)>
                                            <option value=UI>UI
                                            <option value=UIP>UIP
                                            <option value=UIR>UIR
                                            <option value=PVsim>PVsim
                                        </select></div>
                                </div>
                                <div class="column is-half-mobile is-3-tablet text-center"><button
                                        class="button is-info" id=Run_Button onclick=Run_btn_click()
                                        type=button>Run</button></div>
                                <div class="column is-half-mobile is-3-tablet text-center"><button
                                        class="button is-info" id=Local_Button onclick=Local_btn_click()
                                        type=button>Local</button></div>
                                <div class="column is-half-mobile has-text-centered is-1-tablet">Status :</div>
                                <div class="column is-half-mobile is-3-tablet" id=curr_stat>Run</div>
                                <div class="column is-half-mobile has-text-centered is-1-tablet">Control :</div>
                                <div class="column is-half-mobile is-3-tablet" id=curr_ctrl>WLAN</div>
                                <div class="column is-half-mobile has-text-centered is-1-tablet">Limit :</div>
                                <div class="column is-half-mobile is-3-tablet" id=curr_lim>U</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class=card data-panel=set>
                        <header class=card-header>
                            <p class=card-header-title>Preset
                        </header>
                        <div class=card-content>
                            <div class="columns is-mobile" id=uRow>
                                <div class="column is-2">U</div>
                                <div class="column is-5"><input class="fit uaInput slidercolor" max=1000
                                        onchange='setval_input("ua",this.value)' step=0.1 type=range value=300 id=uRange
                                        oninput='setval_drag("ua",this.value)'></div>
                                <div class="column is-4"><input class="input uaInput" max=1000
                                        onchange='setval_input("ua",this.value)' step=0.1 type=number value=300></div>
                                <div class="column is-2">V</div>
                            </div>
                            <div class="columns is-mobile" id=iRow>
                                <div class="column is-2">I</div>
                                <div class="column is-5"><input class="fit iaInput slidercolor" max=100
                                        onchange='setval_input("ia",this.value)' step=0.01 type=range value=30 id=iRange
                                        oninput='setval_drag("ia",this.value)' min=0></div>
                                <div class="column is-4"><input class="input iaInput" max=100
                                        onchange='setval_input("ia",this.value)' step=0.01 type=number value=30 >
                                </div>
                                <div class="column is-2">A</div>
                            </div>
                            <div class="columns is-mobile" id=pRow pv-if="user_in_status.mode === Mode_e.VCP">
                                <div class="column is-2">P</div>
                                <div class="column is-5"><input class="fit paInput slidercolor" max=10000
                                        onchange='setval_input("pa",this.value)' step=1 type=range value=3000 id=pRange
                                        oninput='setval_drag("pa",this.value)'></div>
                                <div class="column is-4"><input class="input paInput" max=10000
                                        onchange='setval_input("pa",this.value)' step=1 type=number value=3000></div>
                                <div class="column is-2">W</div>
                            </div>
                            <div class="columns is-mobile" id=rRow pv-if="user_in_status.mode === Mode_e.VCR">
                                <div class="column is-2">R</div>
                                <div class="column is-5"><input class="fit raInput slidercolor" max=160 min=-160
                                        onchange='setval_input("ra",this.value)' step=0.001 type=range value=30
                                        id=rRange oninput='setval_drag("ra",this.value)'></div>
                                <div class="column is-4"><input class="input raInput" max=160 min=-160
                                        onchange='setval_input("ra",this.value)' step=0.001 type=number value=30></div>
                                <div class="column is-2">Ω</div>
                            </div>
                            <div class="columns is-mobile" id=umppRow pv-if="user_in_status.mode === Mode_e.PVsim">
                                <div class="column is-2">Umpp</div>
                                <div class="column is-5"><input class="fit umppInput slidercolor" max=1000
                                        onchange='setval_input("umpp",this.value)' step=0.01 type=range value=300
                                        id=umppRange oninput='setval_drag("umpp",this.value)'></div>
                                <div class="column is-4"><input class="input umppInput" max=1000
                                        onchange='setval_input("umpp",this.value)' step=0.01 type=number value=300>
                                </div>
                                <div class="column is-2">V</div>
                            </div>
                            <div class="columns is-mobile" id=imppRow pv-if="user_in_status.mode === Mode_e.PVsim">
                                <div class="column is-2">Impp</div>
                                <div class="column is-5"><input class="fit imppInput slidercolor" max=100
                                        onchange='setval_input("impp",this.value)' step=0.01 type=range value=30
                                        id=imppRange oninput='setval_drag("impp",this.value)'></div>
                                <div class="column is-4"><input class="input imppInput" max=100
                                        onchange='setval_input("impp",this.value)' step=0.01 type=number value=30></div>
                                <div class="column is-2">A</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class=card data-panel=data>
                        <header class=card-header>
                            <p class=card-header-title>Data
                        </header>
                        <div class=card-content>
                            <div class="columns is-multiline">
                                <div class="column is-12">
                                    <table class="is-bordered is-fullwidth is-narrow is-striped table">
                                        <tr>
                                            <td>U
                                            <td class=uText>0.0
                                            <td>V
                                        <tr>
                                            <td>I
                                            <td class=iText>0.0
                                            <td>A
                                        <tr>
                                            <td>P
                                            <td class=pText>0.0
                                            <td>W
                                        <tr>
                                            <td>R
                                            <td class=rText>0.0
                                            <td>Ohm
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id=Display_Page>
         <div class=window><img style=height:250px alt="Logo not available" src=etLogo.webp width=100% >
           <div class="column header-buttons is-full is-hidden-touch">
                <div class=buttons><a class="button is-info is-inverted" onclick='switch_page("Index")'>Index</a>
                    <a class="button is-info is-inverted" onclick='switch_page("Control")'>Control</a>
                    <a class="button is-info is-active" onclick='switch_page("Display")'>Display</a>
                     <a class="button is-info is-inverted" onclick='switch_page("Config")'>Configuration</a>
                    <a class="button is-info is-inverted" onclick='switch_page("Protection")'>Protection</a>                
                    </div>
            </div>
            <div class="is-danger notification" id=errorMessage>Error message</div>

            <header class=card-header>
                <p class=card-header-title>  Device Status
            </header>
            <div class="columns is-multiline is-same-height is-tablet" style="margin-top:20px">
                <div class="column is-6">     
                    <div class=card data-panel=data>         
                       <header class=card-header>
                            <p class=card-header-title>Monitor Data
                        </header> 
                        <div class=card-content>
                            <div class="column is-12">
                                <table class="is-bordered is-fullwidth is-narrow is-striped table">
                                    <tr>
                                        <td>U
                                        <td class=mon_uText>0.0
                                        <td>V
                                    <tr>
                                        <td>I
                                        <td class=mon_iText>0.0
                                        <td>A
                                    <tr>
                                        <td>P
                                        <td class=mon_pText>0.0
                                        <td>W
                                    <tr>
                                        <td>R
                                        <td class=mon_rText>0.0
                                        <td>Ohm
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class=card data-panel=status>
                        <header class=card-header>
                            <p class=card-header-title>Status
                        </header>
                        <div class=card-content>
                            <div class="column is-12">
                                <table class="is-bordered is-fullwidth is-narrow is-striped table">
                                    <tr>
                                        <td>Mode
                                        <td class=modeText>UI
                                    <tr>
                                        <td>Status
                                        <td class=statusText style=width:100>Run
                                    <tr>
                                        <td>Control
                                        <td class=localText>WLAN
                                    <tr>
                                        <td>Limit
                                        <td class=limitText>U
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id=Protection_Page>
       <div class=window><img class="logo-img" style=height:250px alt="Logo not available" src=etLogo.webp width=100% >
             <div class="column header-buttons is-full is-hidden-touch">
                <div class=buttons><a class="button is-info is-inverted" onclick='switch_page("Index")'>Index</a>
                    <a class="button is-info is-inverted" onclick='switch_page("Control")'>Control</a>
                        <a class="button is-info is-inverted" onclick='switch_page("Display")'>Display</a>
                         <a class="button is-info is-inverted" onclick='switch_page("Config")'>Configuration</a>
                        <a class="button is-info is-active" onclick='switch_page("Protection")'>Protection</a>
                    </div>
            </div>                   
            <div class="is-danger notification" id=errorMessage>Error message</div>
            <div class="columns is-multiline is-same-height is-tablet">
                <div class="column is-12">
                    <div class=card data-panel=control>
                        <header class=card-header>
                            <p class=card-header-title>Protection Settings
                        </header>                  
                    </div>
                </div>
                <div class="column is-11" style="margin-left:50px; margin-top:20px">
                    <div class=card data-panel=set>
                        <div class="card-content">
                            <div class="columns is-mobile">
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="OvpRow">
                                        <div class="column is-2"><b>OVP</b></div>
                                        <div class="column is-5">
                                            <input class="fit OvpInput slidercolor" max="1000" onchange='Protection_page_input("Ovp",this.value)' step="0.1" type="range" value="300" id="OvpRange" oninput='protection_page_slider_drag("Ovp",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input OvpInput" max="1000" onchange='Protection_page_input("Ovp",this.value)' step="0.1" type="number" value="300">
                                        </div>
                                        <div class="column is-2">V</div>
                                    </div>
                                </div>
                               
                                <div class="column is-6">
                                    <div class="columns is-mobile" >
                                        <div class="column is-2"><b>FOLDBACK TIME</b></div>
                                        <div class="column is-5">
                                            <input class="fit FoldbakTmInput slidercolor " max="10000"  min="10" onchange='Protection_page_input("FoldbakTm",this.value)' step="1" type="range" value="300" id="FoldbakTmRange" oninput='protection_page_slider_drag("FoldbakTm",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input FoldbakTmInput" max="10000" min="10"onchange='Protection_page_input("FoldbakTm",this.value)' step="1" type="number" value="300">
                                        </div>
                                        <div class="column is-2">mSec</div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="columns is-mobile">
                                <!-- UVP Section -->
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="UvpRow">
                                        <div class="column is-2"><b>UVP</b></div>
                                        <div class="column is-5">
                                            <input class="fit UvpInput slidercolor" max="675" min="-1" 
                                                onchange='Protection_page_input("Uvp",this.value)' 
                                                step="0.1" type="range" value="30" id="UvpRange" 
                                                oninput='protection_page_slider_drag("Uvp",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input UvpInput" max="675" min="-1" 
                                                onchange='Protection_page_input("Uvp",this.value)' 
                                                step="0.1" type="number" value="30" placeholder="" 
                                                title="Enter 0 to Turn off UVP">
                                        </div>
                                        <div class="column is-2">V</div>
                                    </div>
                                </div>  
                            
                                <!-- Foldback Section -->
                                <div class="column is-6">
                                    <div class="columns is-mobile">
                                        <div class="column is-2"><b>FOLDBACK</b></div>
                                        <div class="column is-5">
                                           
                                        </div>
                                        <div class="column is-4">
                                            <select class="input InputBox" id="foldbackRow" style="width: 300px;" 
                                            onchange='Protection_page_input("Foldback", this.value)'>
                                            <option value="off">OFF</option>
                                            <option value="cv">Fold_CV</option>
                                            <option value="cc">Fold_CC</option>
                                            <option value="cp">Fold_CP</option>
                                        </select>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                                            
                            <div class="columns is-mobile" >
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="OcpRow">
                                        <div class="column is-2"><b>OCP</b></div>
                                        <div class="column is-5">
                                            <input class="fit OcpInput slidercolor" max="100" min="-1" onchange='Protection_page_input("Ocp",this.value)' step="0.01" type="range" value="30" id="OcpRange" oninput='protection_page_slider_drag("Ocp",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input OcpInput" max="100" min="-1" onchange='Protection_page_input("Ocp",this.value)' step="0.01" type="number" value="30" placeholder="" title="Enter 0 to Turn off OCP">
                                        </div>
                                        <div class="column is-2">A</div>
                                    </div>
                                </div>           
                            </div>
                            <div class="columns is-mobile">                               
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="UvpTRow">
                                        <div class="column is-2"><b>UVP TIME</b></div>
                                        <div class="column is-5">
                                            <input class="fit UvpTInput slidercolor" max="1000" min="100" onchange='Protection_page_input("UvpT",this.value)' step="1" type="range" value="300" id="UvpTRange" oninput='protection_page_slider_drag("UvpT",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input UvpTInput" max="1000" min="100" onchange='Protection_page_input("UvpT",this.value)' step="1" type="number" value="300">
                                        </div>
                                        <div class="column is-2">mSec</div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns is-mobile">      
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="OcpTRow">
                                        <div class="column is-2"><b>OCP TIME</b></div>
                                        <div class="column is-5">
                                            <input class="fit OcpTInput slidercolor" max="5000" min="1" onchange='Protection_page_input("OcpT",this.value)' step="1" type="range" value="300" id="OcpTRange" oninput='protection_page_slider_drag("OcpT",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input OcpTInput" max="5000" min="1" onchange='Protection_page_input("OcpT",this.value)' step="1" type="number" value="300">
                                        </div>
                                        <div class="column is-2">mSec</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id=Configuration_Page>
         <div class=window><img style=height:250px alt="Logo not available" src=etLogo.webp width=100% >
           <div class="column header-buttons is-full is-hidden-touch">
                <div class=buttons><a class="button is-info is-inverted" onclick='switch_page("Index")'>Index</a>
                    <a class="button is-info is-inverted" onclick='switch_page("Control")'>Control</a>
                        <a class="button is-info is-inverted" onclick='switch_page("Display")'>Display</a>  
                         <a class="button is-info is-active" onclick='switch_page("Config")'>Configuration</a>
                        <a class="button is-info is-inverted" onclick='switch_page("Protection")'>Protection</a>
                    </div>
            </div>
            <div class="is-danger notification" id=errorMessage>Error message</div>
            <div class="columns is-multiline is-same-height is-tablet">
                <div class="column is-12">
                    <div class=card data-panel=control>
                        <header class=card-header>
                            <p class=card-header-title>Configuration Settings
                        </header>   
                    </div>
                </div>
                <div class="column is-11" style="margin-left:50px; margin-top:20px">
                    <div class=card data-panel=set>
                        <div class="card-content">
                            <div class="columns is-mobile">
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="VlimRow">
                                        <div class="column is-2"><b>V LIMIT</b></div>
                                        <div class="column is-5">
                                            <input class="fit VlimInput slidercolor" max="100" onchange='config_page_input("Vlim",this.value)' step="0.1" type="range" value="30" id="VlimRange" oninput='config_page_slider_drag("Vlim",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input VlimInput" max="100" onchange='config_page_input("Vlim",this.value)' step="0.1" type="number" value="30">
                                        </div>
                                        <div class="column is-2">V</div>
                                    </div>
                                </div>

                                
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="OutputOnDelayRow">
                                        <div class="column is-2"><b>OUTPUT ON DELAY</b></div>
                                        <div class="column is-5">
                                            <input class="fit OutputOnDelayInput slidercolor" max="100" min="0" onchange='config_page_input("OutputOnDelay",this.value)' step="1" type="range" value="30" id="OutputOnDelayRange" oninput='config_page_slider_drag("OutputOnDelay",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input OutputOnDelayInput" max="100" min="0" onchange='config_page_input("OutputOnDelay",this.value)' step="1" type="number" value="30" placeholder="" title="Enter 0 to Turn off OutputOnDelay">
                                        </div>
                                        <div class="column is-2">Sec</div>
                                    </div>
                                </div>

                            </div>
                        
                            <div class="columns is-mobile">
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="ClimRow">
                                        <div class="column is-2"><b>C LIMIT</b></div>
                                        <div class="column is-5">
                                            <input class="fit ClimInput slidercolor" max="100" onchange='config_page_input("Clim",this.value)' step="0.01" type="range" value="30" id="ClimRange" oninput='config_page_slider_drag("Clim",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input ClimInput" max="100" onchange='config_page_input("Clim",this.value)' step="0.01" type="number" value="30">
                                        </div>
                                        <div class="column is-2">A</div>
                                    </div>
                                </div>
                                
                                 <div class="column is-6">
                                    <div class="columns is-mobile" id="DataLoggingRow">
                                        <div class="column is-2"><b>DATA LOGGING</b></div>
                                        <div class="column is-5">
                                            <input class="fit DataLoggingInput slidercolor" max="100" min="0" onchange='config_page_input("DataLogging",this.value)' step="1" type="range" value="30" id="DataLoggingRange" oninput='config_page_slider_drag("DataLogging",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input DataLoggingInput" max="100" min="0" onchange='config_page_input("DataLogging",this.value)' step="1" type="number" value="30" placeholder="" title="Enter 0 to Turn off Data Logging">
                                        </div>
                                        <div class="column is-2">Sec</div>
                                    </div>
                                </div> 
                                
                            </div>
                            <div class="columns is-mobile">
                                <!-- V Slope Section -->
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="VSlopeRow">
                                        <div class="column is-2"><b>V SLOPE</b></div>
                                        <div class="column is-5">
                                            <input class="fit VSlopeInput slidercolor" max="1000" 
                                                onchange='config_page_input("VSlope",this.value)' 
                                                step="1" type="range" value="300" id="VSlopeRange" 
                                                oninput='config_page_slider_drag("VSlope",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input VSlopeInput" max="1000" 
                                                onchange='config_page_input("VSlope",this.value)' 
                                                step="1" type="number" value="300" placeholder="" 
                                                title="Enter 0 to Turn off Vslope">
                                        </div>
                                        <div class="column is-2">V/S</div>
                                    </div>
                                </div>
                            
                               
                                <div class="column is-6">
                                    <div class="columns is-mobile">
                                        <div class="column is-2"><b>LAST SETTINGS</b></div>
                                        <div class="column is-5">
                                           
                                        </div>
                                        <div class="column is-4">
                                            <select class="input InputBox" id="RemLastSettingsRow" style="width: 300px;" 
                                            onchange='config_page_input("RemLastSettings", this.value)'>
                                            <option value="Off">Off</option>
                                            <option value="On">On</option>
                                        </select>
                                        </div>
                                        
                                    </div>
                                </div>


                            </div>
                            
                             
                            <div class="columns is-mobile">
                                <div class="column is-6">
                                    <div class="columns is-mobile" id="ISlopeRow">
                                        <div class="column is-2" ><b>I SLOPE</b></div>
                                        <div class="column is-5">
                                            <input class="fit ISlopeInput slidercolor" max="65536" onchange='config_page_input("ISlope",this.value)' step="1" type="range" value="3000" id="ISlopeRange" oninput='config_page_slider_drag("ISlope",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input ISlopeInput" max="65536" onchange='config_page_input("ISlope",this.value)' step="1" type="number" value="30" placeholder="" title="Enter 0 to Turn off Islope">
                                        </div>
                                        <div class="column is-2">A/S</div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="columns is-mobile">
                                <div class="column is-6" >
                                    <div class="columns is-mobile" id="TEnableRow">
                                        <div class="column is-2"><b>T ENABLE</b></div>
                                        <div class="column is-5">
                                            <input class="fit TEnableInput slidercolor" max="100" min="0" onchange='config_page_input("TEnable",this.value)' step="1" type="range" value="30" id="TEnableRange" oninput='config_page_slider_drag("TEnable",this.value)'>
                                        </div>
                                        <div class="column is-4">
                                            <input class="input TEnableInput" max="100" min="0" onchange='config_page_input("TEnable",this.value)' step="1" type="number" value="30" placeholder="" title="Enter 0 to make T Enable Infinite">
                                        </div>
                                        <div class="column is-2">Sec</div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div id="errorModal" class="modal">
        <div class="modal-header">
            <span>Error Message</span>
            <span class="close-btn" onclick="hideError()">&times;</span>
        </div>
        <p id="error_Message">Default Error Text</p>
    </div>